<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.BlogMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="article_tag" property="articleTag"/>
        <result column="article_cover" property="articleCover"/>
        <result column="comment_num" property="commentNum"/>
        <result column="page_view_num" property="pageViewNum"/>
    </resultMap>

    <select id="getBlogList" resultMap="indexResultMap">
        select
            *
        from
            blog
    </select>

    <insert id="insertBlog">
        insert into blog
            (title, summary, content, create_time, article_tag, article_cover, comment_num, page_view_num)
        values
            (#{title}, #{summary}, #{content}, now(), #{articleTag}, #{articleCover}, 0, 0)
    </insert>
</mapper>