<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.BlogMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="article_tag" property="articleTag"/>
        <result column="article_cover" property="articleCover"/>
        <result column="comment_num" property="commentNum"/>
        <result column="page_view_num" property="pageViewNum"/>
        <result column="create_id" property="createId"/>
        <result column="create_name" property="createName"/>
        <result column="article_tag_name" property="articleTagName"/>
    </resultMap>

    <select id="getBlogList" resultMap="indexResultMap">
        select
            blog.id id,
            title,summary,
            blog.create_time create_time,
            article_cover, comment_num,page_view_num,
            user.name create_name,
            dictionary.name article_tag_name
        from
            blog blog
        left join  user user
            on blog.create_id = user.id
        left join dictionary dictionary
            on blog.article_tag = dictionary.id
        <where>
            <if test="role != 'master'">
                create_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getUserBlogList" resultMap="indexResultMap">
        select
            blog.id id,
            title,summary,
            blog.create_time create_time,
            article_cover, comment_num,page_view_num,
            user.name create_name,
            dictionary.name article_tag_name
        from
            blog blog
        left join  user user
            on blog.create_id = user.id
        left join dictionary dictionary
            on blog.article_tag = dictionary.id
        <where>
            <if test="tagId != 0">
                article_tag = #{tagId}
            </if>
        </where>
    </select>

    <insert id="insertBlog">
        insert into blog
            (title, summary, content, create_time, article_tag, article_cover, comment_num, page_view_num, create_id)
        values
            (#{title}, #{summary}, #{content}, now(), #{articleTag}, #{articleCover}, 0, 0,#{userId})
    </insert>

    <delete id="deleteBlog">
        delete
        from blog
        where
            id = #{id}
    </delete>

    <select id="getBlogDetail" resultMap="indexResultMap">
        select
            blog.id,
            blog.content,
            title,summary,create_time,article_tag,
            article_cover, comment_num,page_view_num,
            user.name create_name
        from
            blog blog
        left join  user user
            on blog.create_id = user.id
        where
            blog.id = #{blogId}
    </select>

    <update id="updateBlog">
        update blog
        set
            title = #{title},
            summary = #{summary},
            content = #{content},
            article_tag = #{articleTag},
            article_cover = #{articleCover}
        where
            id = #{id}
    </update>
</mapper>