<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.CommentMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.Comment">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="creater_id" property="createrId"/>
        <result column="creater_name" property="createrName"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_parent_id" property="commentParentId"/>
        <result column="create_time" property="createTime"/>
        <result column="creater_avator" property="createrAvator"></result>
        <result column="city" property="city"></result>
        <result column="blog_title" property="blogTitle"></result>
    </resultMap>


    <select id="getCommentList1" resultMap="indexResultMap">
        select
            a.id,
            b.name as creater_name,
            b.avator as creater_avator,
            a.comment_content,
            a.create_time,
            a.city
        from
            comment a
        left join user b
            on a.creater_id = b.id
        left join blog c
            on a.article_id = c.id
        where
            a.article_id = #{articleId}
            and a.comment_parent_id = 0
    </select>

    <select id="getCommentList2" resultMap="indexResultMap">
        select
            a.id,
            b.name as creater_name,
            b.avator as creater_avator,
            a.comment_content,
            a.comment_parent_id as comment_parent_id,
            a.create_time,
            a.city
        from
            comment a
                left join user b
                          on a.creater_id = b.id
                left join blog c
                          on a.article_id = c.id
        where
            a.comment_parent_id in
        <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </select>

    <select id="getAdminList" resultMap="indexResultMap">
        select
            a.id,
            b.name as creater_name,
            b.avator as creater_avator,
            a.comment_content,
            a.comment_parent_id as comment_parent_id,
            a.create_time,
            a.city,
            c.title as blog_title
        from
            comment a
                left join user b
                          on a.creater_id = b.id
                left join blog c
                          on a.article_id = c.id
        limit
            #{start}, #{pageSize}
    </select>

    <insert id="addComment">
        insert into comment
            (article_id, creater_id, comment_content, comment_parent_id, create_time, city)
        values
            (#{articleId}, #{createrId}, #{commentContent}, #{commentParentId}, now(), #{city})
    </insert>

    <select id="getCommentCount" resultType="int">
        select
            count(1)
        from
            comment
    </select>

    <select id="getTotalComment" resultType="integer">
        select
            count(1)
        from
            comment
    </select>
    <select id="getTodayComment" resultType="integer">
        select
            count(1)
        from
            comment
        where
            create_time >= curdate()
    </select>

    <delete id="deleteComment">
        delete from comment
        where id = #{id}
    </delete>
</mapper>