<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.DictionaryMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.Dictionary">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="parent_name" property="parentName"/>
    </resultMap>

    <select id="getDictionaryList" resultMap="indexResultMap">
        select
            d1.id,
            d1.name name,
            d2.name parent_name,
            d1.create_time
        from
            dictionary d1
        left join dictionary d2
            on d1.parent_id = d2.id
        <where>
            <if test="parentId != null">
                d1.parent_id in
                <foreach collection="parentId" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>