<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.FriendUrlMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.FriendUrl">
        <id column="id" property="id"/>
        <result column="site_name" property="siteName"/>
        <result column="site_url" property="siteUrl"/>
        <result column="site_desc" property="siteDesc"/>
        <result column="site_logo" property="siteLogo"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getSiteList" resultMap="indexResultMap">
        select
            *
        from
            friend_url
        limit #{start}, #{size}
    </select>

    <select id="getAdminSiteList" resultMap="indexResultMap">
        select
            *
        from
            friend_url
        <where>
            <if test="role != 'master'">
                user_id = #{userId}
            </if>
        </where>
        limit #{start}, #{size}
    </select>

    <select id="getAdminListTotal" resultType="java.lang.Integer">
        select
            count(*) as total
        from
        friend_url
        <where>
            <if test="role != 'master'">
                user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="addSite">
        insert into friend_url (site_name, site_url, site_desc, site_logo, create_time, user_id)
        values (#{friendUrl.siteName}, #{friendUrl.siteUrl}, #{friendUrl.siteDesc}, #{friendUrl.siteLogo}, now(),#{userId})
    </insert>

    <delete id="deleteSite">
        delete from friend_url
        where id = #{siteId}
    </delete>
</mapper>