<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.HeartFeltMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.HeartFelt">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="creater" property="creater"/>
        <result column="create_time" property="create_time"/>
    </resultMap>

    <select id="getAllHeartFelt" resultMap="indexResultMap">
        select *
        from heart_felt
    </select>

    <insert id="createHeartFelt">
        insert into heart_felt
            (content,writer,creater,create_time)
        values
            (#{content},#{writer},#{creater},now())
    </insert>
</mapper>

