<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunquanBlog.mapper.HeartFeltMapper">
    <resultMap id="indexResultMap" type="com.sunquanBlog.model.HeartFelt">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="create_name" property="create_name"/>
        <result column="create_time" property="create_time"/>
    </resultMap>

    <select id="getAllHeartFelt" resultMap="indexResultMap">
        select
            heart.id,
            heart.content,
            heart.create_time,
            <if test="role == 'master'">
                user.name create_name,
            </if>
            <if test="role != 'master'">
                "" create_name,
            </if>
            heart.writer
        from
            heart_felt heart
        left join user user
            on user.id = heart.creater_id
        <where>
            <if test="role != 'master'">
                creater_id = #{id}
            </if>
        </where>
    </select>

    <select id="getUserHeart" resultMap="indexResultMap">
        select
            heart.id,
            heart.content,
            heart.create_time,
            user.name create_name,
            heart.writer
        from
            heart_felt heart
        left join user user
            on user.id = heart.creater_id
    </select>

    <insert id="createHeartFelt">
        insert into heart_felt
            (content,writer,creater_id,create_time)
        values
            (#{content},#{writer},#{creater},now())
    </insert>

    <delete id="deleteHeart">
        delete
        from heart_felt
        where id = #{id}
    </delete>

    <update id="updateHeartFelt">
        update heart_felt
        set content = #{content},
            writer = #{writer},
            create_time = now()
        where id = #{id}
    </update>
</mapper>

